@charset "UTF-8";

body{
    background-color: rgb(172, 248, 225);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(8, 102, 74);
}

h1#principal{
    text-align: center;
    background-color: rgb(8, 102, 74);
    color: white;
}

h2{
    color: rgb(85, 107, 96);
}

.basico{
    color: rgb(76, 99, 88);

}
.intermediario{
    color: rgb(139, 141, 4);
}
.avancado{
    color: rgb(134, 68, 63);
}

p.texto{
    text-align: justify;
}